:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#e8fc03;
}

body{
  font-family: Arial, Helvetica, sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.search-icon{
  opacity: 0.3;
  font-size: 30px;
}
.text-title{
  letter-spacing: 0.1rem;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0px 0px 0px 25px;
}
.title-link{
  color: var(--lightBlue);
  float: right;
  padding: 10px 25px 0px 0px;
}
.back-icon{
  font-size: 30px;

}
